<main>
  <h1 class="portfolio-header">Projects</h1>
  <div class="text-projects">
    <h2 style="text-decoration: underline">Portfolio Website</h2>
    <p >The creation of this website is powered by Ruby on Rails. The main goal was to showcase the basic operations of CRUD and who I am as a person. The side goal was to learn more about the MVC design pattern hands on.</p>
  </div>

  <div class="slider-container" id="slider1">
    <div class="slider">
      <div class="slide">
        <a href="<%= image_path 'routes.png' %>" data-lightbox="gallery" data-title="Rails Routes">
          <%= image_tag "routes.png", alt: "about page html" %>
        </a>
        <p style="font-style: italic; font-size: 4mm;">Click to image enlarge</p>
        <p>Router file controls the flow of client's request.</p>
        <p>Here, I have get request to my other pages on my website that routes to my page controller.</p>
        <p>The last line of code is for all my CRUD actions, utilizing my contact_form controller.</p>
      </div>
      <div class="slide">
        <a href="<%= image_path 'application_html_view.png' %>" data-lightbox="gallery" data-title="Application View ">
          <%= image_tag "application_html_view.png", alt: "application view page" %>
        </a>
        <p style="font-style: italic; font-size: 4mm;">Click image to enlarge</p>
        <p>The application view html keeps my header and footer static among all my pages.</p>
        <p>The body yields for my other pages view to change it.</p>
      </div>
      <div class="slide">
        <a href="<%= image_path 'slider_javascript.png' %>" data-lightbox="gallery" data-title="Slider Javascript">
          <%= image_tag "slider_javascript.png", alt: "slider js" %>
        </a>
        <p style="font-style: italic; font-size: 4mm;">Click image to enlarge</p>
        <p>This javascript finds all elements that are classed "slider" and places it in a array.</p>
        <p>Then precedes to create 3 functions, update,nextSlide,and prevSlide, by using that array and an ID passed in.</p>
      </div>
      <div class="slide">
        <a href="<%= image_path 'pages_css.png' %>" data-lightbox="gallery" data-title="pages">
          <%= image_tag "pages_css.png", alt: "page html" %>
        </a>
        <p style="font-style: italic; font-size: 4mm;">Click image to enlarge</p>
        <p>The pages.css is my artist. Without it the website would be a mess.</p>
        <p>I try to keep similar classes grouped together as much as I can, so finding what I need is easier.</p>
      </div>
    </div>
  </div>
  <div class="slider-buttons">
    <button class="slider-btn" onclick="prevSlide(0)">❮ Prev</button>
    <button class="slider-btn" onclick="nextSlide(0)">Next ❯</button>
  </div>

  <div class="text-projects">
    <h2 style="text-decoration: underline">Vue 3 Widget </h2>
    <p>I made this to learn about vue.js hands on and how to put it into my Rails project.</p>
    <p> Press the play button and click on the block as it appears, try to get under 250ms for the best rank.</p>
    <div class="vue-container">
      <%= vite_client_tag %>
      <%= vite_javascript_tag "application" %>
      <div id="vue-app"></div>
    </div>
  </div>

  <div class="text-projects">
    <h2 style="text-decoration: underline"> ArborPro LLC Tree Service Website</h2>
    <p >A friend of mine had issues with his free business website on Google being basic. So, I volunteered to help him create his own website by using WordPress and Siteground to host it. I looked at his competitor's websites and pulled inspiration from their designs.</p>
    <a href="https://www.arborprocda.com/services/" class="button">View Website</a>
  </div>

  <div class="slider-container"  id="slider2">
    <div class="slider">
      <div class="slide">
        <a href="<%= image_path 'landing-page.png' %>" data-lightbox="gallery2" data-title="ArborPro Home Page">
          <%= image_tag "landing-page.png"%>
        </a>
        <p style="font-style: italic; font-size: 4mm;">Click image to enlarge</p>
        <p>He wanted his landing page to show his face to tell his clients that he is ARBORPRO.</p>
      </div>
      <div class="slide">
        <a href="<%= image_path 'star-animation.png' %>" data-lightbox="gallery2" data-title="Star Animation">
          <%= image_tag "star-animation.png" %>
        </a>
        <p style="font-style: italic; font-size: 4mm;">Click image to enlarge</p>
        <p>It's the little details that counts for me.</p>
        <p>The 5th star is animated to come slowly last with added enthusiasm!</p>
        <p>You can see it in action on his website.</p>
      </div>
      <div class="slide">
        <a href="<%= image_path 'plugin.png' %>" data-lightbox="gallery2" data-title="Plugin Usage">
          <%= image_tag "plugin.png" %>
          <p style="font-style: italic; font-size: 4mm;">Click image to enlarge</p>
        </a>
        <p>I believe using plugins or other people's libraries to heighten my work.</p>
        <p>However, if something that I need isn't out there, I will make it for my project.</p>
      </div>
    </div>

  </div>
  <div class="slider-buttons">
    <button class="slider-btn" onclick="prevSlide(1)">❮ Prev</button>
    <button class="slider-btn" onclick="nextSlide(1)">Next ❯</button>
  </div>

</main>

<%= javascript_include_tag "slider", "data-turbo-track": "reload" %>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/js/lightbox.min.js"></script>
<script>
    lightbox.option({
        'positionFromTop': 125
    })
</script>