<%= form_with model: @contact_form, local: true do |form| %>
  <div class="container">
    <div class="text">
  <p>
    <%= form.label :first_name %><br>
    <%= form.text_field :first_name, :placeholder => "first name" %>
  </p>
  <p>
    <%= form.label :last_name %><br>
    <%= form.text_field :last_name, :placeholder => "last name" %>
  </p>
  <p>
    <%= form.label :email %><br>
    <%= form.email_field :email, :placeholder => "abc@something.com" %>
  </p>
  <p >
    <%= form.label :phone %><br>
    <%= form.telephone_field :phone,:placeholder => "XXX-XXX-XXXX" %>
  </p>
  <p>
    <%= form.label :message %><br>
    <%= form.text_area :message %>
  </p>
  <p>
    <%= form.submit "Send Message" %>
  </p>
  </div>
  </div>
<% end %>
