<h1 class="contact-header-show">Message Sent</h1>

<div class="container">
  <div class="text">
    <p><strong>Message:</strong> <%= @contact_form.message %></p>
  </div>
</div>

<div class="button-container">
  <%= form_with url: edit_contact_form_path(@contact_form), method: :get, class: "button-update-form" do %>
    <%= submit_tag "Update Message", class: "button-update" %>
  <% end %>
  <%= form_with url: contact_form_path(@contact_form), method: :delete, class: "delete-form", data: { confirm: "Are you sure you want to delete this?" } do %>
    <%= submit_tag "Delete Contact Info", class: "button-delete" %>
  <% end %>
</div>